$cor-fundo-principal: #080b16;
$cor-azul-noturno: #11162a;
$cor-roxo-profundo: #1b1024;
$cor-vinho-rosado: #4b1832;
$cor-rosa-destaque: #f3d6e4;
$cor-dourado-suave: #f7e7c6;
$cor-rose-elegante: #c78bb1;
$cor-escura: #000;
